<!-- Создание панели навигации -->
<section class="navigation">
    <div class="myStyle">
      <nav>
      <ul>
        <li >
          <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">Главная</a>
        </li>
        <li>
          <a  routerLink="/info" routerLinkActive="active-link">Информация</a>
        </li>
        <li>
        <a  routerLink="/profile" routerLinkActive="active-link">Профиль
        </a>
        </li>
        <li>
          <a  routerLink="/calendar" routerLinkActive="active-link">Календарь
          </a>
          </li>
        <span>
          <li>
            <a (click)="logout()">Выйти</a> 
          </li>
          <li>
            <a routerLink="/login" routerLinkActive="active-link">Войти</a>
          </li> 
        </span>
      </ul>
      </nav>
    </div>
    <div>
      <router-outlet ></router-outlet>
    </div>
    
    </section>