
.myStyle{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

 li a:hover{
    color: rgb(230, 74, 18);
    transition: all .2s ease-in-out;
}

li .active-link{
    color: rgb(16, 238, 16);
}

ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #efefef;
    margin: 0;
    padding: 0;

}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
span li{
    float: right;
    cursor: pointer;
    
}